# Real world Scenario with Numpy

<hr>

<img src="https://i.imgur.com/mRN9H4v.png"/>

In [6]:
import numpy as np

In [7]:
names = np.array(("Khaled", "Sarah", "Mohammed", "Reem","Fahad", "Saleh", "Nora"))
ages = np.array((17, 60, 21, 55, 29, 24, 19))

In [23]:
n = np.column_stack((names,ages))
index = np.argsort(n[:, 1])

desc = n[index][::-1]

desc

array([['Sarah', '60'],
       ['Reem', '55'],
       ['Fahad', '29'],
       ['Saleh', '24'],
       ['Mohammed', '21'],
       ['Nora', '19'],
       ['Khaled', '17']], dtype='<U11')

<hr>

<img src="https://i.imgur.com/jbHKBPR.png![image.png](attachment:49d72e8d-c091-43ab-8ecd-db9a79858664.png)![image.png](attachment:ae9cf8e0-d2c1-4396-8bfc-0d7016cff2ad.png)![image.png](attachment:8f96c12e-5e2a-432b-b706-429bbafdeccc.png)![image.png](attachment:bd54d228-298e-4fdd-8464-49002837e5e5.png)"/>

In [25]:
import calendar

In [24]:
month_names = list(calendar.month_name)[1:]
temperature_data = np.array([40, 38, 28, 20, 15, 28, 35, 40, 48, 45, 40, 43])
threshold = 35

In [45]:

t = np.mean(temperature_data)

print (t)

index = temperature_data > 35
m = month_names[index]

print(m)

h = np.argmax(temperature_data)

l = np.argmin(temperature_data)

hm = month_names[h]
lm =  month_names[l]

print('high in :',hm)
print('low in :',lm)


r = temperature_data.max() - temperature_data.min()

print("range is :", r)

35.0
['January' 'February' 'August' 'September' 'October' 'November' 'December']
high in : September
low in : May
range is : 33

<hr>

<img src="https://i.imgur.com/eiXHG9y.png"/>

In [12]:
students = np.array(['Mohammed', 'Lama', 'Norah', 'Ahmed', 'Fahad'])
math_scores = np.array([80, 92, 75, 68, 88])
ML_scores = np.array([85, 78, 92, 64, 90])
DS_scores = np.array([70, 88, 75, 82, 78])

In [13]:
# write your code here ^_^

<hr>

### <center> Great job! Keep exploring and learning. Your progress is remarkable. 

<hr>

<hr>